{% extends 'base.html' %}

{% block content %}
    <h3>Resource List</h3>
<hr/>
{%- for message in get_flashed_messages() %}
{{ message }}
{%- endfor %}
<h3><a href="{{ url_for('resources.add') }}"> Add Resource Item</a></h3>
<div>
    <table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for resource in resources %}
    <tr>
        <td>{{ resource.item }}</td>
        <td>{{ resource.amount }}</td>
        <td>
            <a href="{{ url_for('resources.update',item_id=resource.id) }}">
                <button type="button">Update</button>
            </a>
            <a href="{{ url_for('resources.delete',item_id=resource.id) }}">
                <button type="submit">Delete</button>
            </a>
        </td>
    </tr>
</div>

    {% endfor %}
    </tbody>
</table>
{% endblock %}
